<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10 pright1px">
		<div class="white-background">
			<h1 class="logo-font ptop10px">About Us</h1>
			<p class="logo-font">We Buy & Sell New & Used Construction Equipment! Trade-Ins also Accepted!</p>

			<h2 class="logo-font">What We Offer</h2>
			<p class="logo-font">Brands Such As, But not Limited to:</p>
			<span class="logo-font">Attachments Asv Bobcat Bad Boy Badger Case Caterpillar DeWalt Ditch Witch Gator Gehl Genie Graco Hitachi Husqvarna Hyster Ingersoll Rand JCB JLG JRB John Deere Komatsu Kubota Liebherr Massey Miller Multiquip Ferguson New Holland Stihl Skyjack Skytrak Takeuchi Toro Dingo Vermeer Wacker Yale Yanmar Yamaha Backhoe Boom Lift Bulldozer Excavator Mini Backhoe Mini Excavator Bobcat MT Dingo Skidsteer Skid Steer Loader Skid Loader Wheel Loader </span>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>